.page {
    background-color: #2A2C2F;
}

/* Styles header */

.header {
    display: flex;
    justify-content: space-between;
    width: 92.5%;
    margin: 28px 48px 56px 48px;
}

.header__logo {
    
}

.header__logo_container {
    display: inline-flex;
    justify-content: space-between;
    width: 78px;
}

.header__logo_link {
    color: white;
    line-height: 28px;
    font-size: 24px;
}

.header__leng_link_active {
    text-decoration: underline;
}

/*---------------------------------------*/