.page {
    font-family: 'Inter', sans-serif;
    color: white;
    background-color: #2A2C2F;
}

/* Styles header */

.header {
    display: flex;
    justify-content: space-between;
    width: 92.5%;
    margin: 28px 48px 56px 48px;
}

.header__logo {
    
}

.header__logo_container {
    display: inline-flex;
    justify-content: space-between;
    width: 78px;
}

.header__logo_link {
    line-height: 28px;
    font-size: 24px;
}

.header__leng_link_active {
    text-decoration: underline;
}

/*---------------------------------------*/

/* LEAD styles */

.lead {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.lead__title {
    text-align: center;
    font-size: 96px;
    line-height: 100px;
    max-width: 720px;
    font-weight: bolder; 
    margin-bottom: 0;
}

.lead__subtitle {
    text-align: center;
    font-size: 30px;
    line-height: 36px;
    max-width: 640px;
    margin: 32px auto 64px;
}

.lead__container {
    display: flex;
    flex-direction: column;
}

.lead__container_image {
    max-width: 984px;
    max-height: 615px;
}

.lead__container_caption {
    font-size: 10px;
    line-height: 14px;
    letter-spacing: 1.5px;
}

/*---------------------------------------*/

/* intro styles */

.intro {
    display: flex;
    flex-direction: column;
    max-width: 690px;
    margin: 92px auto;
}

.intro__title {
    font-size: 54px;
    line-height: 58px;
    font-weight: bolder;
}

.intro__text {
    font-size: 16px;
    line-height: 163%;
}

.intro__list {
    padding-left: 0;
}

.intro__list_item {
    list-style: none;
    font-size: 12px;
    line-height: 18px;
}

.intro__list_item_bold {
    font-weight: bolder;
}

/*---------------------------------------*/

/* photo-grid styles */

.photo-grid {
    display: grid;
    max-width: 1184px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 16px;
    margin: auto;
}

.photo-grid__item {
    max-width: 284px;
    max-height: 213px;
}

/*---------------------------------------*/

/* places styles */
.places {
    display: flex;
    flex-direction: column;
    max-width: 984px;
    justify-content: space-between;
    margin: 92px auto;
}

.places__item {
    display: grid;
    grid-template-columns: 460px 1fr;
    grid-template-rows: 152px auto;
    gap: 48px;
    margin-bottom: 80px;
}

.places__item_img {
    max-width: 460px;
    max-height: 460px;
    grid-row: 2/5;
}

.places__item__title-container {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}

.places__item_title {
    font-size: 72px;
    line-height: 76px;
    font-weight: bolder;
    max-width: 460px;
}

.places__item_paragraph {
    font-size: 18px;
    line-height: 163%;
    margin-bottom: 26px;
}

.places__item__website {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: flex-end;
}

.places__item__website_url-heading {
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 2px;
}

.places__item__website_link {
    font-size: 18px;
    line-height: 22px;
    color: white;
}

/*---------------------------------------*/

/* cover styles */



/*---------------------------------------*/

/* footer styles */