.page {
    font-family: 'Inter', sans-serif;
    color: white;
    background-color: #2A2C2F;
}

/* Styles header */

.header {
    display: flex;
    justify-content: space-between;
    width: 92.5%;
    margin: 28px 48px 56px 48px;
}

.header__logo {
    
}

.header__logo_container {
    display: inline-flex;
    justify-content: space-between;
    width: 78px;
}

.header__logo_link {
    line-height: 28px;
    font-size: 24px;
}

.header__leng_link_active {
    text-decoration: underline;
}

/*---------------------------------------*/

/* LEAD styles */

.lead {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.lead__title {
    text-align: center;
    font-size: 96px;
    line-height: 100px;
    max-width: 720px;
    font-weight: bolder; 
    margin-bottom: 0;
}

.lead__subtitle {
    text-align: center;
    font-size: 30px;
    line-height: 36px;
    max-width: 640px;
    margin: 32px auto 64px;
}

.lead__container {
    display: flex;
    flex-direction: column;
}

.lead__container_image {
    max-width: 984px;
    max-height: 615px;
}

.lead__container_caption {
    font-size: 10px;
    line-height: 14px;
    letter-spacing: 1.5px;
}

/*---------------------------------------*/

/* intro styles */

.intro {
    display: flex;
    flex-direction: column;
    max-width: 690px;
    margin-top: 92px;
    margin-bottom: 92px;
}

.intro__title {
    font-size: 54px;
    line-height: 58px;
    font-weight: bolder;
}

.intro__text {
    font-size: 16px;
    line-height: 163%;
}

.intro__list {
    padding-left: 0;
}

.intro__list_item {
    list-style: none;
    font-size: 12px;
    line-height: 18px;
}

.intro__list_item_bold {
    font-weight: bolder;
}

/*---------------------------------------*/

/* photo-grid styles */